In [1]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to change these)
data_csv = "../who_suicide_statistics.csv"

# Read the City and Ride Data
data = pd.read_csv(data_csv)

In [3]:
# Clean data
data.dropna(how='any', inplace=True)

data = data[data.suicides_no != 0]
data.reset_index(inplace=True)
data.drop(columns={'index'}, inplace=True)
data.head(20)

    country  year     sex          age  suicides_no  population
0   Albania  1987  female  15-24 years         14.0    289700.0
1   Albania  1987  female  25-34 years          4.0    257200.0
2   Albania  1987  female  35-54 years          6.0    278800.0
3   Albania  1987  female    75+ years          1.0     35600.0
4   Albania  1987    male  15-24 years         21.0    312900.0
5   Albania  1987    male  25-34 years          9.0    274300.0
6   Albania  1987    male  35-54 years         16.0    308000.0
7   Albania  1987    male  55-74 years          1.0    137500.0
8   Albania  1987    male    75+ years          1.0     21800.0
9   Albania  1988  female  15-24 years          8.0    295600.0
10  Albania  1988  female  25-34 years          5.0    262400.0
11  Albania  1988  female  35-54 years          4.0    284500.0
12  Albania  1988  female  55-74 years          3.0    147500.0
13  Albania  1988  female    75+ years          2.0     36400.0
14  Albania  1988    male  15-24 years         17.0    319200.0
15  Albania  1988    male  25-34 years          5.0    279900.0
16  Albania  1988    male  35-54 years         14.0    314100.0
17  Albania  1988    male  55-74 years          4.0    140200.0
18  Albania  1988    male    75+ years          1.0     22300.0
19  Albania  1989  female  15-24 years          5.0    299900.0

In [ ]:
data['suicide']