In [1]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to change these)
data_csv = "../who_suicide_statistics.csv"

# Read the City and Ride Data
data = pd.read_csv(data_csv)

In [4]:
# Clean data
data.dropna(how='any', inplace=True)

data = data[data.suicides_no != 0]
data.reset_index(inplace=True)
data

,index,country,year,sex,age,suicides_no,population
0,24,Albania,1987,female,15-24 years,14.0,289700.0
1,25,Albania,1987,female,25-34 years,4.0,257200.0
2,26,Albania,1987,female,35-54 years,6.0,278800.0
3,29,Albania,1987,female,75+ years,1.0,35600.0
4,30,Albania,1987,male,15-24 years,21.0,312900.0
5,31,Albania,1987,male,25-34 years,9.0,274300.0
6,32,Albania,1987,male,35-54 years,16.0,308000.0
7,34,Albania,1987,male,55-74 years,1.0,137500.0
8,35,Albania,1987,male,75+ years,1.0,21800.0
9,36,Albania,1988,female,15-24 years,8.0,295600.0
10,37,Albania,1988,female,25-34 years,5.0,262400.0
11,38,Albania,1988,female,35-54 years,4.0,284500.0
12,40,Albania,1988,female,55-74 years,3.0,147500.0
13,41,Albania,1988,female,75+ years,2.0,36400.0
14,42,Albania,1988,male,15-24 years,17.0,319200.0
15,43,Albania,1988,male,25-34 years,5.0,279900.0
16,44,Albania,1988,male,35-54 years,14.0,314100.0
17,46,Albania,1988,male,55-74 years,4.0,140200.0
18,47,Albania,1988,male,75+ years,1.0,22300.0
19,48,Albania,1989,female,15-24 years,5.0,299900.0
20,49,Albania,1989,female,25-34 years,2.0,266300.0
21,50,Albania,1989,female,35-54 years,7.0,288600.0
22,52,Albania,1989,female,55-74 years,1.0,149600.0
23,54,Albania,1989,male,15-24 years,12.0,323500.0
24,55,Albania,1989,male,25-34 years,18.0,283600.0
25,56,Albania,1989,male,35-54 years,15.0,318400.0
26,58,Albania,1989,male,55-74 years,6.0,142100.0
27,59,Albania,1989,male,75+ years,2.0,22500.0
28,84,Albania,1992,female,15-24 years,7.0,292400.0
29,85,Albania,1992,female,25-34 years,4.0,267400.0
...,...,...,...,...,...,...,...
30094,43687,Virgin Islands (USA),2007,male,25-34 years,2.0,5792.0
30095,43688,Virgin Islands (USA),2007,male,35-54 years,1.0,14189.0
30096,43689,Virgin Islands (USA),2007,male,5-14 years,1.0,8031.0
30097,43690,Virgin Islands (USA),2007,male,55-74 years,2.0,11057.0
30098,43691,Virgin Islands (USA),2007,male,75+ years,1.0,1892.0
30099,43694,Virgin Islands (USA),2008,female,35-54 years,1.0,15838.0
30100,43699,Virgin Islands (USA),2008,male,25-34 years,2.0,5762.0
30101,43700,Virgin Islands (USA),2008,male,35-54 years,3.0,14188.0
30102,43710,Virgin Islands (USA),2009,male,15-24 years,1.0,6543.0
30103,43712,Virgin Islands (USA),2009,male,35-54 years,4.0,14175.0
30104,43714,Virgin Islands (USA),2009,male,55-74 years,4.0,11337.0
30105,43717,Virgin Islands (USA),2010,female,25-34 years,1.0,6553.0
30106,43718,Virgin Islands (USA),2010,female,35-54 years,2.0,15632.0
30107,43723,Virgin Islands (USA),2010,male,25-34 years,1.0,5472.0
30108,43724,Virgin Islands (USA),2010,male,35-54 years,2.0,14141.0
30109,43726,Virgin Islands (USA),2010,male,55-74 years,1.0,11537.0
30110,43727,Virgin Islands (USA),2010,male,75+ years,1.0,1953.0
30111,43732,Virgin Islands (USA),2011,female,55-74 years,1.0,13041.0
30112,43733,Virgin Islands (USA),2011,female,75+ years,1.0,2790.0
30113,43735,Virgin Islands (USA),2011,male,25-34 years,1.0,5271.0
30114,43736,Virgin Islands (USA),2011,male,35-54 years,2.0,13857.0
30115,43738,Virgin Islands (USA),2011,male,55-74 years,3.0,11730.0
30116,43741,Virgin Islands (USA),2012,female,25-34 years,1.0,6185.0
30117,43742,Virgin Islands (USA),2012,female,35-54 years,1.0,15126.0
30118,43744,Virgin Islands (USA),2012,female,55-74 years,2.0,13364.0
30119,43746,Virgin Islands (USA),2012,male,15-24 years,2.0,6663.0
30120,43747,Virgin Islands (USA),2012,male,25-34 years,2.0,5061.0
30121,43748,Virgin Islands (USA),2012,male,35-54 years,2.0,13542.0
30122,43759,Virgin Islands (USA),2015,male,25-34 years,2.0,4609.0
30123,43760,Virgin Islands (USA),2015,male,35-54 years,1.0,12516.0